.kontejner {
    -fx-background-color: rgba(255,255, 255, 0.4);
    -fx-padding:  5 0 0 10;
}

.kontejner:hover {
    -fx-background-color: rgba(255,255, 255, 0.7);
}

.nadpis {
    -fx-font-size: 24;
    -fx-font-weight:bold;
}

.text-maly .label{
    -fx-font-size:18;
    -fx-text-fill: black;
    -fx-font-weight: 100;
}

.text-velky{
    -fx-font-size:24;
}

.velky-nadpis {
    -fx-font-size: 30;
    -fx-font-weight:bold;
}

.scroll-pane {
    -fx-background: rgba(255,255, 255, 0.4);
}